body {
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-ed27bd3282dcdb470add75951b0bbc26");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.Part1 {
    width: 80%;
    height: 25vh;
    background-image: url("https://qph.cf2.quoracdn.net/main-qimg-7943eba0faabbfe5e631243c55695f8e");
    margin: 0 auto 20px auto;
    background-size: cover;
    background-position: center;
    position: relative;
}

.Part1h1, 
.Part1h2,
.subtitleP {
    text-align: center;
    color: white; 
    font-family: Franklin Gothic Medium;
  padding: 10px 0;
}

.Part2 {
    width: 90%;
    max-width: 800px; /* Set a maximum width for larger screens */
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
}

.Introh2, .Introh3 {
    text-align: center;
    color: black; 
    font-family: Efficio;
}

.noteh4 {
    text-align: center;
    color: red;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.Teatype {
    text-align: left;
    width: 45%;
}

.KR {
    text-align: right;
    width: 45%;
}

.sloganP, .homepagelinkp {
    text-align: center;
}

hr {
    height: 2px;
    background-color: rgb(2, 58, 16);
    border: none;
}

a {
    color: rgb(2, 58, 16);
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(14, 160, 245);
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    .Part1 {
        width: 90%;
    }

    .item {
        flex-direction: column;
        align-items: center;
    }

    .Teatype, .KR {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .Part1 {
        height: 35vh;
    }

    .Part1h1, 
    .Part1h2,
    .subtitleP {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }
}
